.component-3 {
    padding: 117px 0 108px;

    h3 {
        margin-bottom: 112px;
        color: $color-5;

        @include font('rale');

        &::before {
            background-color: $color-6;
        }

        &::after {
            background-color: $color-2;
            background-image: url(../../../images/component-3/info.png);
        }

        span {
            color: $color-3;
        }
    }

    .center {
        display: flex;
        position: raleative;
        align-items: center;
        width: 1170px;

        .img {
            flex-shrink: 0;
            margin-top: -8px;
            margin-right: 91px;
            margin-left: -3px;
        }

        .content {
            margin-top: 13px;

            h4 {
                margin-bottom: 24px;
                color: $color-5;
                font-size: 31px;
                font-weight: 600;
                letter-spacing: -.8px;
                text-transform: uppercase;

                @include font('rale');
            }

            p {
                margin-bottom: 47px;
                color: $color-8;
                font-size: 14px;
                line-height: 27px;

                @include font('sans');
            }

            .list {
                display: flex;
                flex-wrap: wrap;
                margin-left: 2px;

                .item {
                    flex: 200px;
                    margin-bottom: 5px;

                    &:nth-child(even) {
                        margin-left: 47px;
                    }

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 63px;
                        height: 63px;
                        margin-right: 27px;
                        float: left;
                        border-radius: 50%;
                        background-color: $color-9;
                        background-image: url(../../../images/component-3/settings.png);
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &.feat::before {
                        background-image: url(../../../images/component-3/settings.png);
                    }

                    &.location::before {
                        background-image: url(../../../images/component-3/location.png);
                    }

                    &.heart::before {
                        background-image: url(../../../images/component-3/heart.png);
                    }

                    &.edit::before {
                        background-image: url(../../../images/component-3/new.png);
                    }

                    h6 {
                        margin-top: 2px;
                        margin-bottom: 10px;
                        color: $color-5;
                        font-size: 18px;
                        font-weight: 800;
                        letter-spacing: -.4px;

                        @include font('rale');
                    }

                    p {
                        transform: translateX(1px);
                        font-size: 13px;
                        line-height: 22px;
                    }
                }

                & > a {
                    display: none;
                    padding: 13px 33px 14px 29px;
                    background-color: $color-3;
                    color: $color-2;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;

                    @include font('rale');
                }
            }
        }
    }
}
