.component-2 {

    .wrapper {

        h3 {
            margin-left: 86px;
            letter-spacing: 1px;
            text-align: left;
            word-spacing: 2px;
        }

        h4 {
            transform: translateX(1px);
        }
    }
}
