.component-2 {

    .wrapper{

        h3{
            text-align: left;
            letter-spacing: 1px;
            word-spacing: 2px;
            margin-left: 86px;
        }

        h4 {
            transform: translateX(1px);
        }
    }
}
